<p>Hello {{name}}, your email: {{email}} needs to be confirmed</p>
<p>Your phone number is {{phone}}</p>
<a href='https://the-nail-lab.netlify.app/email/confirmation/{{id}}'>
  click to confirm email
</a>
<p>Copy and paste this link: https://the-nail-lab.netlify.app/email/confirmation/{{id}}</p>